.overflow-x-hidden {
    overflow-x: hidden;
}

.object-fit-cover {
    object-fit: cover;
}

.bg-img-cover {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}