<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>This theme has been corrupted<</title>
    <style>
        * {
            box-sizing: border-box;
            padding: 0;
            margin: 0;
        }
        body {
            font-size: 16px;
            font-family: Consolas, Monaco, monospace;
        }
        .container {
            height: 100vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        h1 {
            margin-bottom: 1rem;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>This theme has been corrupted</h1>
        <a href='mailto:carminemaggiom@gmail.com'>Contact</a>
    </div>
</body>
</html>